;; Analyzed by ClojureScript 1.7.228
{:name modern-cljs.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {add {:protocol-inline nil, :meta {:file "/Users/jo/.boot/cache/tmp/Users/jo/clojure/modern-cljs/9ak/r3nb31/modern_cljs/core.cljs", :line 5, :column 7, :end-line 5, :end-column 10, :arglists (quote ([x y]))}, :name modern-cljs.core/add, :variadic false, :file "/Users/jo/.boot/cache/tmp/Users/jo/clojure/modern-cljs/9ak/r3nb31/modern_cljs/core.cljs", :end-column 10, :method-params ([x y]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 2, :fn-var true, :arglists (quote ([x y]))}}}